.user_list{
    width:50%;
}
.user_head{
    width:100%;
    text-align: center;
    padding:13px 0;
    background: #C5DFFF;
    border-radius: 8px 8px 0px 0px;
    color:#000000
}
.user_flex_cont{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}