.user_card{
    display:flex;
    height:4.3em;
    background: #ECECEC;
    border-radius: 4px;
    width:100%;
    margin:5px 0;
    align-items: center;
}
.user_img{
    width:4.1em;
    height:4.1em;
    margin:2px ;
    border-radius: 100%;
}
.user_card_name{
    color:#000000;
    font-size:1.2rem;
    margin-left: 0.6rem;
}