@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.user_container{
    display: flex;
    width:89%;
    margin:20px auto;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;    
}